:root {
  --primary: #3b8bEb;
  --secondary: #2B7A78;
  --dull: #3AAFA9;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --dark: #1d2124;
  --light: #F1F1F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
}

/* SVG ANIMATION */
.svg-container {
  height: 100vh;
  width: 100%;
}

@keyframes fillW {
  to {
    fill: white;
  }
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  animation: fillW 4s forwards;
}

@keyframes fillCont {
  to {
    fill: white;
  }
}

#logo mask {
  animation: fillCont 3s ease 1s forwards;
}

#logo path {
  stroke-linecap: square;
}

@keyframes lineAnim {
  to {
    stroke-dashoffset: 0px;
  }
}

#logo > path:nth-child(2), path:nth-child(3), path:nth-child(8), path:nth-child(11) {
  stroke-dasharray: 218px;
  stroke-dashoffset: 218px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(4) {
  stroke-dasharray: 254px;
  stroke-dashoffset: 254px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(5) {
  stroke-dasharray: 237px;
  stroke-dashoffset: 237px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(6), path:nth-child(22) {
  stroke-dasharray: 100.8px;
  stroke-dashoffset: 100.8px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(7) {
  stroke-dasharray: 206.2px;
  stroke-dashoffset: 206.2px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(9) {
  stroke-dasharray: 219.5px;
  stroke-dashoffset: 219.5px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(10) {
  stroke-dasharray: 356.1px;
  stroke-dashoffset: 356.1px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(12), path:nth-child(17) {
  stroke-dasharray: 244px;
  stroke-dashoffset: 244px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(13) {
  stroke-dasharray: 41.34px;
  stroke-dashoffset: 41.34px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(14) {
  stroke-dasharray: 219.5px;
  stroke-dashoffset: 219.5px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(15) {
  stroke-dasharray: 199.9px;
  stroke-dashoffset: 199.9px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(16), path:nth-child(20), path:nth-child(23) {
  stroke-dasharray: 251.5px;
  stroke-dashoffset: 251.5px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(18) {
  stroke-dasharray: 149.6px;
  stroke-dashoffset: 149.6px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(19) {
  stroke-dasharray: 171.1px;
  stroke-dashoffset: 171.1px;
  animation: lineAnim 3s ease forwards;
}

#logo > path:nth-child(21) {
  stroke-dasharray: 132.1px;
  stroke-dashoffset: 132.1px;
  animation: lineAnim 3s ease forwards;
}
/* SVG ANIMATION END */

html {
  height: 100%;
}

code {
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 3px;
  color: var(--dark);
  font-family: 'Fira Code';
}

strong {
  padding: 2px;
  border-bottom: 1px solid var(--light);
  /* color: var(--light); */
  color: white;
  letter-spacing: 1px;
}

strong:hover {
  cursor: default;
  transition: all 0.3s ease-in;
  border-color: var(--primary);
}

body {
  /* background-color: rgb(20, 119, 206); */
  background-color: var(--primary);
  height: 100%;
  overflow-y: auto;
}

.divider {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid var(--light);
}

.shift {
  margin-top: 100px;
  margin-bottom: 160px;
}

.about-me {
  text-align: center;
  justify-content: center;
  color: white;
  margin-top: 120px;
  border-radius: 5px;
  min-height: 450px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.about-me h1 {
  color: rgb(158, 207, 247);
  font-family: 'Lato', sans-serif;
  width: max-content;
  margin: 0 auto;
  border-bottom: 2px solid var(--light);
  padding: 5px;
}

.para {
  display: block;
  height: max-content;
  padding: 10px;
  position: relative;
}


.content {
  margin-top: 30px;
  font-size: 21px;
  font-family: 'Bree Serif', serif;
  margin-bottom: 100px;
}

.bio-container {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.bio {
  list-style-type: none;
}

.bio li {
  font-size: 22px;
  text-align: left;
  font-family: 'Bree Serif', serif;
}

.bio li span {
  /* color: #69d6f1; */
  color: rgb(158, 207, 247);
  font-weight: bold;
}

.My-Projects {
  width: 95%;
  margin: 0 auto;
  background-color: white;
  margin-top: 10px;
  border-radius: 3px;
}

.My-Projects h2 {
  text-align: center;
  font-family: 'Fira Code', monospace;
  color: var(--primary);
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid var(--primary);
  padding: 10px;
  margin-bottom: 10px;
}

.small-heading {
  display: none;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 10px;
  width: max-content;
  margin: 0 auto;
  text-align: center;
}

.My-Projects ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 400px;
  height: 500px;
  margin: 10px;
  background-color: var(--light);
  margin-bottom: 20px;
  border: 2px solid var(--gray-dark);
  color: var(--primary);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transition: all 0.15s ease-in-out;
  /* transform: scale(1.02); */
  background-color: var(--gray-dark);
}

.card:hover .description {
  color: var(--light);
}

.card img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card h4 {
  padding: 10px;
  font-size: 20px;
  background-color: var(--gray-dark);
  border-bottom: 2px solid var(--gray-dark);
  margin-bottom: 10px;
}

.card img {
  max-width: 95%;
}

.description {
  color: var(--gray-dark);
  padding: 10px;
}

.repo-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--dull);
  color: var(--light);
  margin-top: 10px;
}

.repo-link:hover {
  transition: all 0.15s ease-in;
  background-color: var(--secondary);
}

.prev-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close-btn {
  font-size: 24px !important;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  top: 0%;
  right: 0%;
}

.close-btn:hover {
  color: red;
}

.img-container {
  margin: auto;
  background-color: transparent;
  position: relative;
  padding: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.anim-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  } to {
    transform: scale(1)
  }
}

.contact-me {
  width: 90%;
  margin: 0 auto;
  background-color: var(--dull);
  color: white;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  overflow-x: auto;
}

.icon {
  font-size: 30px;
  color: var(--dark);
  padding: 5px;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.25);
  color: var(--gray-dark);
}

.icon-container {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.contact-me div {
  margin-top: 20px;
  justify-content: center;
  font-size: 25px;
  font-family: 'Bree Serif', serif;
}

.contact-me h1 {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid var(--gray);
  color: var(--dark);
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: 'Bree Serif', serif;
}

body main {
  min-height: 100%;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-head {
  font-weight: bold;
  color: var(--gray-dark);
  font-family: 'Bree Serif', sans-serif;
  letter-spacing: 1px;
}

.divider-20 {
  display: block;
  height: 1px;
  background-color: var(--gray);
  width: 20%;
  margin: 0 auto;
}

footer {
  box-shadow: 0px -5px 9px -2px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-top: -100px;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: var(--dark);
  min-height: 100px;
  border-top: 5px solid white;
  width: 100%;
}

footer > h4 {
  padding-top: 20px;
}

@media screen and (max-width: 570px) {
  .svg-container {
    display: none;
  }

  .small-heading {
    display: block;
  }

  .divider {
    margin-bottom: -80px;
  }

  .img-container {
    width: auto !important;
  }
}

@media screen and (max-width: 400px) {
  .card {
    min-width: 310px;
  }
}

@media screen and (max-width: 350px) {
  .card {
    min-width: 200px;
  }
}
